.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  max-width: 1240px;
  justify-content: space-between;
  align-items: center;
  padding: 36px 20px;
  z-index: 1;

  background-color: #f3f5fa;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-color: inherit;
  z-index: -1;
}

.header.scrolled {
  background-color: #ffffff;
}

.logoContainer {
  cursor: pointer;
  margin-right: 11px;
}

.btnContainer {
  display: flex;
  border-radius: 50%;
  height: 39px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
    padding-top: 36px;
    padding-bottom: 24px;

    max-width: 708px;

    margin-left: auto;
    margin-right: auto;
  }

  .logoContainer {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 36px 20px;
    height: 112px;
    max-width: 1280px;
  }
}
