.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* width: 365px;
  height: 873px; */
  display: flex;
  justify-content: right;

  background-color: rgba(23, 61, 51, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  z-index: 1300;
}

.modal {
  box-sizing: border-box;
  position: relative;
  border-radius: 25px;
  width: 365px;
  height: 873px;
  margin-top: 24px;
  margin-right: 100px;
  padding: 24px;

  background-color: #173d33;
  opacity: 0.75;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

.modal::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);

  height: 1px;
  width: 317px;
  background-color: #ffffff;

  z-index: 2000;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #ffffff;

  font-size: 16px;
}
