.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.list {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  color: #ffffff;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.25);
}

.link.active,
.link.active .icon path {
  color: #97d28b;
  stroke: #97d28b;
}

.icon {
  margin-left: 8px;
}

.link:hover,
.item:hover .icon path {
  color: #ffffff;
  stroke: #ffffff;
  opacity: 1;
}

.socialLinkList {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.socialLink {
  height: 24px;
  width: 24px;
}
