.btn {
  padding: 10px 16px;
  border: none;
  display: flex;

  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 16px;
  background-color: #97d28b;
  color: #173d33;
  /* width: 140px; */
  width: fit-content;
  height: 39px;
  font-family: var(--primary-font);
}

.btn:hover {
  background-color: #173d33;
  color: #97d28b;
}
