.btn {
  padding: 0;
  border: 1px solid #97d28b;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 39px;
  width: 141px;
  border-radius: 500px;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  color: #173d33;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn:hover {
  border: none;
  color: #97d28b;
  background-color: #173d33;
}
