.title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #173d33;
  max-width: 319px;
  margin-bottom: 24px;
}

.text {
  position: relative;
  line-height: 19px;
  text-align: justify;
  letter-spacing: -0.04em;
  color: #173d33;
  margin-bottom: 36px;
}

.boxGridItem {
  background-color: #eaedf1;
  position: relative;
}

.boxGridItem::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 124px;
  background-color: #97d28b;

  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.caption {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #173d33;

  margin-bottom: 52px;
}

.content {
  font-size: 14px;
  color: #173d33;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
  }

  .boxGrid {
    gap: 24px;
    max-width: 400px;

    margin-left: auto;
    margin-right: auto;
  }

  .boxGridItem {
    height: 197px;
    padding: 12px;
    background-color: #eaedf1;
  }

  .img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 100px;
    max-width: 708px;

    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    max-width: 230px;
    margin-bottom: 0;
  }

  .text {
    width: 342px;
    margin-bottom: 0;
  }

  .contextWrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 100px;
  }

  .boxGrid {
    gap: 24px;
  }

  .boxGridItem {
    padding: 12px;
    height: 197px;
    display: flex;
    flex-direction: column;
  }

  .boxGridItem::before {
    top: 70px;
    width: 135px;
  }

  .text::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 110px;
    background-color: #97d28b;
    left: -11px;
    top: 4px;
  }

  .wrapper {
    height: 100%;
    padding: 12px;
  }

  .img {
    display: block;
    object-fit: cover;
    height: 197px;
  }

  .caption {
    justify-content: start;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin-top: 120px;
    position: relative;
    max-width: 1280px;
  }

  .container::after {
    content: "";

    position: absolute;
    width: 1px;
    height: 110px;
    background-color: #97d28b;
    top: 0;
    left: 50%;
  }

  .boxGrid {
    gap: 48px;
  }

  .boxGridItem {
    padding: 48px 24px;
    height: 339px;
  }

  .boxGridItem::before {
    top: 190px;
    width: 226px;
  }

  .contextWrapper {
    margin-bottom: 124px;
  }

  .title {
    max-width: 365px;
    font-size: 48px;
    line-height: 48px;
  }

  .text {
    width: 459px;
    font-size: 16px;
    line-height: 19px;
  }

  .text::before {
    display: none;
  }

  .caption {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 119px;
  }

  .content {
    position: absolute;
    width: 226px;
    height: 76px;

    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    letter-spacing: -0.04em;
  }

  .img {
    height: 100%;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
