.container {
  /* padding-left: 100px;
  padding-right: 100px;
  width: auto;
  /* max-width: 1280px; */

  height: 100%;
  border: 1px solid red;
}

.title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #173d33;
  max-width: 319px;
  margin-bottom: 24px;
}

.text {
  position: relative;
  line-height: 19px;
  text-align: justify;
  letter-spacing: -0.04em;
  color: #173d33;

  margin-bottom: 36px;
}

/* .listWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
} */

.gridListWrapper1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  overflow: hidden;
}

.gridListWrapper2 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.gridList1 {
  display: grid;
  gap: 24px;

  grid-template-columns: 148px 148px;
  grid-template-rows: auto;

  width: 100%;
  height: 197px;
}

.gridList2 {
  display: grid;
  gap: 24px;
  height: 197px;

  grid-template-columns: 148px 148px;
  grid-template-rows: 1fr 2fr;
}

.gridItem {
  position: relative;
  text-align: center;
  text-transform: uppercase;

  background-color: #eaedf1;
  height: 197px;

  padding: 12px;
}

.caption {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  line-height: 17px;

  margin-bottom: 64px;
  margin-bottom: 46px;
}

.gridItem::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 124px;
  background-color: #97d28b;

  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  font-size: 14px;
  color: #173d33;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    max-width: 230px;
  }

  .contextWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 100px;
  }

  .text {
    max-width: 342px;
  }

  .text::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 110px;
    background-color: #97d28b;
    left: -22px;
    top: 4px;
  }

  .gridList1 {
    display: grid;
    gap: 24px;
    height: 197px;

    grid-template-columns: 159px 159px 342px;
    grid-template-rows: 1fr 2fr;
  }

  .gridList2 {
    display: grid;
    gap: 24px;
    height: 197px;

    grid-template-columns: 342px 159px 159px;
    grid-template-rows: 1fr 2fr;
  }

  .gridList1 .gridItem:last-child {
    padding: 0;
  }

  .gridList2 .gridItem:first-child {
    padding: 0;
  }

  /* .gridList {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: auto;

    grid-template-columns: 1fr 1fr 2fr;

    gap: 24px;
    height: 197px;
  }

 */

  .gridItem::before {
    top: 85px;
    width: 135px;
  }

  .wrapper {
    height: 100%;
    padding: 12px;
  }

  .img {
    display: block;
    object-fit: cover;
    height: 197px;
    /* min-width: 342px; */
  }

  .gridList:not(:last-child) {
    margin-bottom: 40px;
  }

  .caption {
    font-size: 16px;
    line-height: 17px;

    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 36px;
    max-width: 250px;
  }

  .text {
    max-width: 459px;
  }

  .text::before {
    left: -322px;
  }

  .contextWrapper {
    margin-bottom: 122px;
  }

  .caption {
    font-size: 18px;

    margin-bottom: 119px;
  }
  /* 
  .caption::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 135px;

    top: 51px;
  } */

  .gridListWrapper1 {
    margin-bottom: 48px;
    height: 339px;
  }

  .gridList1 {
    gap: 48px;

    grid-template-columns: 274px 274px 596px;
    grid-template-rows: 1fr 2fr;

    /* margin-bottom: 48px; */

    background-color: aqua;
    height: 339px;
    max-width: 1220px;
  }

  .gridList2 {
    height: 339px;
    gap: 48px;

    grid-template-columns: 596px 274px 274px;
    grid-template-rows: 1fr 2fr;

    background-color: rgb(72, 0, 255);
  }

  .gridItem {
    height: 339px;
    padding: 48px 24px;
  }

  .gridItem::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 226px;
    background-color: #97d28b;

    top: 160px;
    left: 50%;
    transform: translateX(-50%);
  }

  .gridList1 .gridItem:last-child {
    padding: 0;
  }

  .gridList2 .gridItem:first-child {
    padding: 0;
  }

  .content {
    position: absolute;
    width: 226px;
    height: 76px;

    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    letter-spacing: -0.04em;
  }

  .img {
    height: 100%;
  }
}
