.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  border-radius: 50%;
  background-color: #dcefd8;
  margin-right: 12px;
}

.btn:hover {
  background-color: #97d28b;
}
